
<div th:fragment="invoiceslist">

    <div th:replace="fragments/header.html :: loggedMenu" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container" th:if="${not #lists.isEmpty(invoices)}">
         <div  th:replace="fragments/table.html :: tableInvoice"></div>
    </div>

    <div class="container" th:if="${#lists.isEmpty(invoices)}">
        Zde toto je prazne a takto by to mohlo byt spravne
    </div>

    <div class="container">
        <a class="btn btn-primary" th:href="@{/invoices/add}" role="button">Add</a>
    </div>
</div>





