

<div th:replace="fragments/header.html :: notLoggedMenu"></div>


<div class="container" >

    <!-- Card -->
    <div class="card">

        <!-- Card body -->
        <div class="card-body">

            <!-- Material form register -->
            <form method="post" th:object="${userDto}" th:action="@{/users/add}">
                <p class="h4 text-center py-4">Sign up</p>

                <div th:if="${userExist}" class="alert alert-danger" role="alert">
                    Failed register
                    Reason: <span>Username exist</span>
                </div>

                <!-- Material input name -->
                <div class="md-form">
<!--                    <i class="fa fa-user prefix grey-text"></i>-->
                    <label for="name" class="font-weight-light">Your name</label>
                    <input type="text" class="form-control" th:field="*{name}">
                    <small class="text-muted" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</small>
                </div>

                <!-- Material input surname -->
                <div class="md-form">
<!--                    <i class="fa fa-envelope prefix grey-text"></i>-->
                    <label for="surname" class="font-weight-light">Your surname</label>
                    <input type="text" class="form-control" th:field="*{surname}">
                    <small class="text-muted" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</small>
                </div>

                <!-- Material input username -->
                <div class="md-form">
                    <!--<i class="fa fa-envelope prefix grey-text"></i>-->
                    <label for="username" class="font-weight-light">Your username</label>
                    <input type="text" class="form-control" th:field="*{username}">
                    <small class="text-muted" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</small>
                </div>

                <!-- Material input username -->
                <div class="md-form">
                    <!--<i class="fa fa-envelope prefix grey-text"></i>-->
                    <label for="password" class="font-weight-light">Your password</label>
                    <input type="password" class="form-control" th:field="*{password}">
                    <small class="text-muted" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
                </div>

                <div class="text-center py-4 mt-3">
                    <button class="btn btn-cyan" type="submit">Register</button>
                </div>
            </form>
            <!-- Material form register -->

        </div>
        <!-- Card body -->

    </div>
    <!-- Card -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>



</div>


