Pridej uzivatele jelikoz potrebuji postnoout

<form method="post" th:object="${userDto}" th:action="@{/users/add}">
    <div class="field">
        <label>Name:</label>
        <input type="text" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    </div>
    <div class="field">
        <label>Surname:</label>
        <input type="text" th:field="*{vorname}">
        <span th:if="${#fields.hasErrors('vorname')}" th:errors="*{vorname}">vorname Error</span>
    </div>
    <div class="field">
        <label>Username:</label>
        <input type="text" th:field="*{username}">
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
    </div>
    <div class="field">
        <label>Password:</label>
        <input type="password" th:field="*{password}">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
    </div>
    <button type="submit">Save element</button>

</form>

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
