<div class="container">
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </nav>
</div>

<div class="container">
        <h4 class="page-header">Default Implementation</h4>
        <form role="form" name='login' action="/login" method='POST'>
            <div class="form-group float-label-control">
                <label for="">Username</label>
                <input type="text" class="form-control" name='username' value='' />
            </div>
            <div class="form-group float-label-control">
                <label for="">Password</label>
                <input type="password" class="form-control" name='password' value='' />
            </div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <input name="submit" type="submit" value="submit"/>
        </form>
</div>



<!--<div class="container">-->
<!--    <form name='login' action="/login" method='POST'>-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td>UserName:</td>-->
<!--                <td><input type='text' name='username' value=''></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Password:</td>-->
<!--                <td><input type='password' name='password'/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td colspan='2'><input name="submit" type="submit" value="submit"/></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
<!--    </form>-->
<!--</div>-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>